**/_bak
**/_org
/src/2048cc.session
/src/_unused
/gtk2_replayer/lang
lang
_bak
_org
/gtk2_replayer/src/gui/_org/flags
/gtk2_replayer/src/gui/_org/playback
/gtk2_replayer/src/gui/_bak/black_tools
/gtk2_replayer/src/gui/_bak/brown_tools
/gtk2_replayer/src/a.exe
/gtk2_replayer/src/*.session
/gtk2_replayer/src/_unused.c
/gtk2_replayer/src/gui/_bak/brown_tools/tool_stop.png
/gtk2_replayer/src/gui/_bak/brown_tools/tool_first.png
/gtk2_replayer/src/gui/_bak/brown_tools/tool_jumpto.png
/gtk2_replayer/src/gui/_bak/brown_tools/tool_last.png
/gtk2_replayer/src/gui/_bak/brown_tools/tool_minus.png
/gtk2_replayer/src/gui/_bak/brown_tools/tool_next.png
/gtk2_replayer/src/gui/_bak/brown_tools/tool_pause.png
/gtk2_replayer/src/gui/_bak/brown_tools/tool_play.png
/gtk2_replayer/src/gui/_bak/brown_tools/tool_plus.png
/gtk2_replayer/src/gui/_bak/brown_tools/tool_prev.png
/gtk2_replayer/src/gui/_bak/brown_tools/tool_speed_reset.png
/replays/Sun_Jul_13_203447_2014.sav
/replays/Wed_Jul_16_205723_2014.sav
/gtk2_replayer/src/gtk2_replayer.session
/gtk2_replayer/src/main.exe
/gtk2_replayer/src/lang
/gtk2_replayer/src/_bak
