_bak
/src/*.session
/src/main.exe
/src/a.exe
/src/_unused/mvhist.h
/src/_unused/board.c
/src/_unused/board.h
/src/_unused/gs.c
/src/_unused/gs.h
/src/_unused/mvhist.c
_unused
/src/_bak/01_after_fixing_saving_long_replays
